.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header{
	padding:20px 0;
}
.navbar-li{
	margin-right: 80px;
	transition: color 0.3s ease;
	font-size: 20px;
}
.navbar-li:hover{
	color:gray;
}
.minimo{
	height: 100px;
}
.face{
	width:100%;
	padding: 50px 0;
}
.deary{
	margin-left: 250px;
	color: gray;
}
.TPWG{
	margin-left: 200px;
	color: black;
	font-size: 30px;
	padding: 50px;
}
.lorem1{
	text-align: center;
	font-size: 15px;
	margin-right: 150px;
	margin-left: 150px;
	margin-bottom: 150px;
	margin-top: 50px;
	font-size: 17px;
}
.COMMENT{
	margin-left: 250px;
	color: gray;
	padding: 10px;
}
.palma{
	height:400px;
}
.black1{
	height:400px;
}
.life{
	margin-left:730px;
	color: gray;
}
.life1{
	text-align: center;
	margin-left: 40px;
	color: gray;
}
.PP{
	font-size: 30px;
	color: black;
	padding:50px;
}
.pp{
	font-size: 30px;
	color: black;
	padding: 50px;
	margin-right: 50px;
}
.picaso{
	height: 400px;
}
.lion{
	height: 400px;
}
.lorem2{
	text-align:left;
	justify-content: space-between;
	font-size: 17px;
	margin-right: 50px;
	margin-top: 50px;
	margin-right: 150px;
}
.lorem3{
	text-align:left;
	justify-content: space-between;
	font-size:17px;
	margin-right: 50px;
	margin-top: 50px;
	margin-right:150px;
}